body {
    display:flex;
    flex-wrap : wrap;
    flex-direction: row;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-top: 4% !important;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Fixed {
    margin-top: 10%;
    position: fixed;
    color: white;
    left: 0;
    right : 100%;
}
.Logo{
    max-width : 100%;

}
.Flower{
    max-width : 23%;
}

.Main{
    max-width : 80%;  
}
.scroll{
    overflow:auto;
}
.C1{
    max-width : 80%;
    max-height : auto;
    /* margin-left: 20%; */
}
.C2{
    max-width : 80%;
    max-height : auto;
}
.C3{
    max-width : 80%;
    max-height : auto;
}
.C4{
    max-width : 80%;
    max-height : auto;
}
.A{
    max-width : 80%;
    max-height : auto;
}
button{
    color: white;
    background-color: black;
    margin-bottom: 5%;
    font-size : 16px;
    border : 0px;
}
div{
    color: white;
}
@media(min-width: 768px){
    div{
        font-size:14px;
    }
    .Fixed{
        font-size:16px;
    }
    .C1{
        max-width : 80%;
        max-height : auto;
        /* margin-left: 20%; */
    }
    .C2{
        max-width : 80%;
        max-height : auto;
    }
    .C3{
        max-width : 80%;
        max-height : auto;
    }
    .C4{
        max-width : 80%;
        max-height : auto;
    }
    .A{
        max-width : 80%;
        max-height : auto;
    }
}
@media(max-width: 768px){
    div{
        font-size:6px;
    }
    .Fixed{
        width: 0%;
        text-align: left;
    }
    .FixedL{
        font-size:11px;
    }
    .FixedB{
        font-size:11px;
        width : 40%;
    }
    .C1{
        max-width : 35%;
        height : 120px;
        /* margin-left: 20%; */
    }
    .C2{
        max-width : 70%;
        height : 120px;
    }
    .C3{
        max-width : 35%;
        height : 120px;
    }
    .C4{
        max-width : 70%;
        height : 120px;
    }
    .A{
        max-width : 40%;
    }
    .Main{
        max-width : 65%;
    }
}
button:focus{outline:none;}