body {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body div{
    /* display:flex;
    flex-wrap : wrap;
    flex-direction: row;
    justify-content: center; */
    align-content: center;
}
.Fixed {
    position: fixed;
    color: white;
    width:300px;
    height:100%;
    background:rgb(219, 219, 218);
    top:0;
    left:-300px;
    z-index:1;
    transition:all .35s;
}
label{
    position:relative;
    top: 0;
    left:0;
    text-align: left;
    justify-content: left;
}
/* .info{
    text-align: left;
} */
.FixedL{
    left: 0;
}
.Logo{
    max-width : 85%;
    position:relative;
    bottom:45px;

}
.Flower{
    max-width : 23%;
}
div{
    justify-content: center;
}
.C1{
    max-width : 80%;
    max-height : auto;
    /* margin-left: 20%; */
}
.C2{
    max-width : 80%;
    max-height : auto;
}
.C3{
    max-width : 80%;
    max-height : auto;
}
.C4{
    max-width : 80%;
    max-height : auto;
}
.Main{
    max-width: 80%;
}
.A{
    max-width : 80%;
    max-height : auto;
}
.FixedB{
    color: rgb(0, 0, 0);
    background:rgb(219, 219, 218);
    margin-top: 3%;
    margin-bottom: 3%;
    font-size : 16px;
    border : 0px;
    margin-left: 0%;
}
button{
    background:rgb(0, 0, 0);
    margin-bottom: 5%;
    font-size : 16px;
    
    border : 0px;
    margin-left: 0%;
}
div{
    color: white;
}
.scroll{
    text-align: center;
}
#menuicon{
    display:none;
}
#menuicon + label{
    margin-top: 2%;
    display: block;
    width: 50px;
    height:30px;
    position: relative;
    justify-content: center;
    cursor:pointer;
}
#menuicon + label span {
    display:block;
    position:absolute;
    width:100%;
    height:5px;
    border-radius:30px;
    background:rgb(255, 255, 255);
    transition:all .35s;
}
#menuicon:checked + label + div {left:0; max-width: 50%;}
#menuicon + label span:nth-child(1) {top:0;}
#menuicon + label span:nth-child(2) {top:50%;transform:translateY(-50%);}
#menuicon + label span:nth-child(3) {bottom:0;}
#menuicon:checked + label {z-index:2;}
#menuicon:checked + label span {background:#fff;}
#menuicon:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
#menuicon:checked + label span:nth-child(2) {opacity:0;}
#menuicon:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
@media(min-width: 768px){
    div{
        font-size:14px;
    }
    .Fixed{
        font-size:16px;
    }
}
@media(max-width: 768px){
    div{
        font-size:6px;
    }
    .FixedL{
        font-size:11px;
    }
    .FixedB{
        font-size:11px;
    }
    .C1{
        max-width : 35%;
        height : 120px;
        /* margin-left: 20%; */
    }
    .C2{
        max-width : 70%;
        height : 120px;
    }
    .C3{
        max-width : 35%;
        height : 120px;
    }
    .C4{
        max-width : 70%;
        height : 120px;
    }
    .A{
        max-width : 40%;
    }
    #menuicon + label{
        width: 40px;
        height:23px;
    }
    #menuicon + label span {
        height: 3px;
    }
    .Logo{
    bottom:30px;
    }
}
@media(max-width: 470px){
        .Logo{
            bottom:15px;
        }
        #menuicon + label span {
            height: 2px;
        }
        #menuicon + label{
            width: 25px;
            height:11px;

        }
}
button:focus{outline:none;}